body{
  background: #003a19;

}
section{

}

figure{
  margin-bottom: 3em;
}

header{
margin-bottom: 1em;
border-bottom: 2px;
min-height: 50vh;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

}


h1{
margin-bottom: 2em;
border-bottom: 2px;
  display: flex;
  justify-content: left;
  align-items: center;


}

.project-feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.project-feature{
 margin: 2em;
  padding: 2em;
  flex-basis: 320px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: left;
  align-items: center;

}
#main-menu {
  background: rgb(0, 127, 255);
  width: 300px;
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 999;
  height: 100%;
  transition: 1s all ease;


}

#main-menu:target{
  left: 0;
  background: rgb(223, 115, 250);
}

#main-menu ul a{
  display: block;
  color:  rgb(235, 0, 0);
  background: rgba(255, 228, 196, 1);
  padding:1em;
  margin-bottom: 1px;
}
.close-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;

}
.menu-toggle{
  display:block;
  border-radius: 6px;
  max-width: 120px
  text-align: center;
  border: 2px solid #ffffff;
  padding: 1em;

}

#main-menu:target + .backdrop{
  display: block;
  background: rgba(187, 210, 225, 0.9);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 998;
  height: 100%;


}

@media (min-width: 640px;){
  #main-menu {
    position: static;
    width: 100%;
    background: transparent;
  }
#main-menu ul{
  display: flex;
  justify-content: space-around;
  width:100%;
}
.menu-toggle {
  display: none;
}
}
